tr:hover {background-color: #D6EEEE;}
.btn-list {
    line-height: 1.2!important;
    padding: .25rem .6rem !important;
}
.required:after {
    content:" *";
    color: red;
}
.label{
    padding-top: 5px;
}
.row-paging{
    display: flex!important;
}
.total{
    padding-left: 0px!important;
    width: 13%!important;
}
.add-new{
    font-size: 14px!important;
}